@font-face {
	font-family: webpixel;
	src: url("assets/webpixel.otf")
}


body {
	font-family: 'webpixel', sans-serif;
	color: #4e5154;
	background: #008083;
	margin: auto;
}


.header{
	width: 50%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
  background: #C5C7C2;
  box-shadow: 3px 3px;
  outline: 1px black solid;
	margin-bottom: 3%;
}

h1 {
  font-size: 70px;
  text-align: center;
	margin:0px;
	padding-bottom: 5px;

}

.start-bar {
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	background-color: #C5C7C2;
	border-top-style: groove;
	border-top-width: 3px;
	padding: 0;
}

.clock {
	position: fixed;
	right: 10;
	bottom: 2;
	font-size: 150%;
	text-align: center;
	border-style: inset;
	border-width: 2px;
}

.description {
  width: 40%;
  text-align: center;
  margin: auto;
  box-shadow: 3px 3px black;
  background: #C5C7C2;
  outline: 1px black solid;
	margin-top: 3%;
	border-width: 3px;
	border-style: groove;
}

.socials-icon {
  width: 50px;
  padding: 10px;
}

.socials-bar {
	margin: auto;
	display: flex;
	width: 210px;
	background: #C5C7C2;


}

.socials-container {
	width: 210px;
	margin:auto;
	margin-bottom: 3%;
	box-shadow: 3px 3px;
	outline: 1px black solid;
	background: #C5C7C2;
	border-width: 3px;
	border-style: groove;
}

.toolbar {
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
}

.content-column {
  width: 30%;
  text-align: center;
  margin: 1%;
  box-shadow: 3px 3px;
  outline: 1px black solid;
  background: #C5C7C2;
	border-width: 3px;
	border-style: groove;

}

.content-container {
  padding: 10px;
  margin: auto;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.img-column {
  max-width: 70%;
  box-shadow: 3px 3px;
  outline: 1px black solid;
}

.socials-icon:hover {
  outline: 1px red solid;
}

h3 {
	font-size: 200%;
	margin-bottom: 5px;
	margin-top: 5px;
}

p {
	padding: 10px;
}
